.ipynb_checkpoints/
Senalfiltrada.xlsx
Senalcodificada.xlsx
Hammingcode.xlsx
Señal con ruido.xlsx
BER.xlsx
BER2.xlsx
Codigocompleto.txt
Codigooriginal.txt
Datadeco.xlsx
logo_tec.jpg
bersnr.png
compBPM.png
orivsrec.png
zonasdeentrenamiento.png